:root{
    --primary-color:#0d1013;
}

.btn-theme,
.btn-theme:hover{
    background-color: var(--primary-color);
}


.name{
    color: #045650;
    background-color: #7CB0A4;
}

.gtu{
    color:#045650;
}



.bg{
    height: 89vh;
}

.bootom-sec{
    -border: 1px solid red;
    padding: 15px;text-align: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;right: 0;bottom: 0;color: white;
}



.main{
    -border: 1px solid red;
    height: 100vh;
    display: flex;
}
.main .left{
    width: 20%;
    background-color: #1c1b1b;
}
.main .right{
    width: 80%;
    background-color: #292A2D;position: relative;
}

.bottom-chat-sec{
    -border: 1px solid red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    background-color: #404045;
    box-shadow: 0 0 0 .5px rgba(192,192,192,.3);
    padding: 20px;
    width: 80%;
    border-radius: 30px;
}
.bottom-chat-sec input{
    width: 100%;
    background-color: transparent;
    padding: 15px;color: white;
}

.bottom-chat-sec input:focus{
    border: 0;
    outline: 0;
}

.bot{
    width: 85px;
}
.newchat{
    background-color: #42A3F2;
    color: white;
}


.send:hover{

    box-shadow:  0 3px 7px white;
}


.bott:hover{

    background-color: white;

}
